.box3 {
  background-color: khaki;
  width: 100px;
  height: 100px;
  margin-left: 10px;
}

.box3:nth-child(1) {
  background-color: gold;
  width: 100px;
  height: 100px;
  order: 5;
}
.box3:nth-child(3) {
  background-color: red;
  width: 100px;
  height: 100px;
  margin-left: 10px;
  align-self: flex-start;
}

.box3:nth-child(4) {
  background-color: beige;
  width: 100px;
  height: 100px;
  margin-left: 10px;
  align-self: flex-end;
}

.wrapper3 {
  display: flex;
  justify-content: space-around;
  font-size: 33px;
  align-items: center;
  background-color: yellowgreen;
  width: 750px;
  height: 800px;
}

.center {
  display: flex;
  background-color: yellow;
  max-width: 1030px;
  flex-direction: column;
  margin: auto;
}
